@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@page {
  size: A4;
  margin: 0;
}

.App {
  background-color: darkgray;
  page-break-inside: avoid;
  display: flex;
  align-items: center;
  print-color-adjust: exact;
}
.a4 {
  background-color: white;
  height: 297mm;
  max-height: 297mm;
  min-height: 297mm;
  width: 210mm;
  max-width: 210mm;
  min-width: 210mm;
  margin: auto;
  display: flex;
}
.left_kol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  height: 297mm;
  width: 32%;

}
.right_kol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 297mm;
  width: 68%;
}
.ubuntu_bold, .irem_madran {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ubuntu_medium, .job_title, .port, .main_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.ubuntu_regular_secondary {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin-top: 5px;
  margin-left:30px;
  color: #566573;
  print-color-adjust: exact;

}
.ubuntu_medium_main {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-top: 14px;
  margin-left:30px;
}
.irem_madran {
  margin-left:30px;
  margin-right:20px;
  color: #212F3D;
  font-size: 45px;
}
.job_title {
  margin-left:30px;
  color: #F1C40F;
  font-size: 23px;

}
.port {
  margin-left:30px;
  margin-top: 50px;
  color: #212F3D;
  font-size: 18px;
}
.main_title {
  margin-left:30px;
  color: #F1C40F;
  font-size: 20px;

}